@function test($a) {
    @return z
}

.side {
    position: absolute;
    top: 0;
    background-color: red;
    width: 300px;
    height: 100vh;
    transition: all .2s ease-in-out;
    /* transform: translateX(-100%); */

    ul {
        margin-top: 45px;
        width: 100%;
        background-color: aquamarine;

        li {
            display: block;
            padding: 15px;
            transition: all .4s ease-in-out;
            cursor: pointer;
            /* text-align: center; */

            &:hover {
                background-color: white;
                font-weight: 600;
            }

            a {
                text-decoration: none;
                color: inherit;
                line-height: 0;
            }
        }
    }
}

.side-is-open .side {
    transform: translateX(0%);
}