.side {
    position: absolute;
    top: 0;
    background-color: red;
    width: 300px;
    height: 100vh;
    transition: all .2s ease-in-out;
    /* transform: translateX(-100%); */
}

.side ul {
    margin-top: 45px;
    width: 100%;
    background-color: aquamarine;
}

.side ul li {
    display: block;
    padding: 15px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    /* text-align: center; */
}

.side ul li:hover {
    background-color: white;
    font-weight: 600;
}

/* .side ul li i {
    
} */

.side ul li a {
    text-decoration: none;
    color: inherit;
    line-height: 0;
}

.side .bar {
    position: absolute;
    height: 100vh;
    width: 50px;
    right: -50px;
    background-color: antiquewhite;
}

.container-special {
    background-color: antiquewhite;
    margin: 0 310px auto;
}

.side-is-open .side {
    transform: translateX(0%);
}