.section.header {
  background-image: url("https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section.header div.header-title {
  font-size: 2.75rem;
  font-weight: 600;
}
@media only screen and (min-width: 300px) {
  .section.header div.header-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header div.header-title {
    font-size: 2.75rem;
  }
}
.section.header div.header-title.upper {
  text-transform: uppercase;
}
.section.header div.header-subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0 auto 0 auto;
}
@media only screen and (min-width: 300px) {
  .section.header div.header-subtitle {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header div.header-subtitle {
    font-size: 1.7rem;
  }
}
.section.header .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section.header .search .input-field {
  background-color: white;
  margin: 0;
  width: 25%;
  padding: 5px 25px 15px 25px;
  border-radius: 2px;
}
.section.header .search .input-field input {
  margin: 0;
}
.section.header .search .input-field:not(:last-child) {
  margin-right: 15px;
}
.section.header-medium {
  background-image: url("https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section.header-medium div.header-title {
  font-size: 2.75rem;
  font-weight: 600;
}
@media only screen and (min-width: 300px) {
  .section.header-medium div.header-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header-medium div.header-title {
    font-size: 2.75rem;
  }
}
.section.header-medium div.header-title.upper {
  text-transform: uppercase;
}
.section.header-medium div.header-subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0 auto 0 auto;
}
@media only screen and (min-width: 300px) {
  .section.header-medium div.header-subtitle {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header-medium div.header-subtitle {
    font-size: 1.7rem;
  }
}
.section.header-medium .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section.header-medium .search .input-field {
  background-color: white;
  margin: 0;
  width: 25%;
  padding: 5px 25px 15px 25px;
  border-radius: 2px;
}
.section.header-medium .search .input-field input {
  margin: 0;
}
.section.header-medium .search .input-field:not(:last-child) {
  margin-right: 15px;
}
.section.header-large {
  background-image: url("https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section.header-large div.header-title {
  font-size: 2.75rem;
  font-weight: 600;
}
@media only screen and (min-width: 300px) {
  .section.header-large div.header-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header-large div.header-title {
    font-size: 2.75rem;
  }
}
.section.header-large div.header-title.upper {
  text-transform: uppercase;
}
.section.header-large div.header-subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0 auto 0 auto;
}
@media only screen and (min-width: 300px) {
  .section.header-large div.header-subtitle {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 601px) {
  .section.header-large div.header-subtitle {
    font-size: 1.7rem;
  }
}
.section.header-large .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section.header-large .search .input-field {
  background-color: white;
  margin: 0;
  width: 25%;
  padding: 5px 25px 15px 25px;
  border-radius: 2px;
}
.section.header-large .search .input-field input {
  margin: 0;
}
.section.header-large .search .input-field:not(:last-child) {
  margin-right: 15px;
}
.section.header .btn, .section.header .btn-large, .section.header .btn-small {
  margin-top: 25px;
}
@media only screen and (min-width: 300px) {
  .section.header .btn, .section.header .btn-large, .section.header .btn-small {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 601px) {
  .section.header .btn, .section.header .btn-large, .section.header .btn-small {
    margin-top: 25px;
  }
}



/* .header-image {
  position: absolute;
  top: 0;
  height: 350px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

.header-image img {
  width: 100%;
} */
