$base_image_url: "https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero5.jpg";
$header_width_cols: 100/4;
$title_padding: 5.33333333;
$header_title_font_size: 4rem;


@mixin padding_calculator($multiplicator) {
    padding-top: ($title_padding * $multiplicator) + "%";
}

@mixin header($size) {
    background: {
        image: url($base_image_url);
        repeat: no-repeat;
        position: center;
        size: cover;
    }
    height: #{$size};
    overflow: hidden;
    color: white;
    text-align: center;
    padding: {
        top: 50px;
        bottom: 50px;
    }
}

// @mixin header_image {
//     .header-image {
//         position: absolute;
//         top: 0;
//         height: 350px;
//         z-index: -1;
//         width: 100%;
//         overflow: hidden;
//     }

//     .header-image img {
//         width: 100%;
//     }
// }

@mixin header_title {
    div.header-title {
        font: {
            size: 2.75rem;
            weight: 600;
        }

        @media only screen and (min-width: 300px) {
            font-size: 2rem;
        }

        @media only screen and (min-width: 601px) {
            font-size: 2.75rem;
        }

        &.upper {
            text-transform: uppercase;
        }
    }
}

@mixin header_subtitle {
    div.header-subtitle {
        font: {
            size: 1.70rem;
            weight: 300;
        }
        margin: 0 auto 0 auto;

        @media only screen and (min-width: 300px) {
            font-size: 1.250rem;
        }

        @media only screen and (min-width: 601px) {
            font-size: 1.70rem;
        }
    }
}

@mixin search_inputs {
    .search {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .input-field {
            background-color: white;
            margin: 0;
            width: 25%;
            padding: 5px 25px 15px 25px;
            border-radius: 2px;

            input {
                margin: 0;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

.section {
    &.header {
        & {
            @include header("250px");
            @include header_title;
            @include header_subtitle;
            @include search_inputs;
        }
        
        &-medium {
            @include header("350px");
            @include header_title;
            @include header_subtitle;
            @include search_inputs;
        }
        
        &-large {
            @include header("500px");
            @include header_title;
            @include header_subtitle;
            @include search_inputs;
        }
        
        .btn {
            &, &-large, &-small {
                margin-top: 25px;

                @media only screen and (min-width: 300px) {
                    margin-top: 15px;
                }

                @media only screen and (min-width: 601px) {
                    margin-top: 25px;
                }
            }
        }
    }
}