$blue: #1565c0;
$padding_top: 12.5%;
$font_weight: 600;

%hero {
    background-color: $blue;
    height: 100vh !important;
    text-align: center;
    color: white;
}

%hero-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

%call-to-action {
    margin: {
        left: auto;
        right: auto;
        bottom: 20px;
    }
    padding-top: $padding_top;
}

%lead {
    display: block;
    font: {
        size: 4rem;
        weight: 400;
    }
    margin-bottom: 1.250rem;
}

div, section {
    &.hero {
        @extend %hero;

        .hero-wrapper {
            @extend %hero-wrapper;

            .call-to-action {
                @extend %call-to-action;

                @media only screen and (min-width: 300px) {
                    text-align: left;
                    padding-top: 25%;
                }

                @media only screen and (min-width: 601px) {
                    text-align: center;
                    padding-top: 12.5%;
                }

                @each $tag in lead, lead-stronger {
                    div.#{$tag} {
                        @extend %lead;

                        @if $tag == "lead-stronger" {
                            font-weight: $font_weight;
                        }

                        @media only screen and (min-width: 300px) {
                            font-size: 2rem;
                        }

                        @media only screen and (min-width: 601px) {
                            font-size: 4rem;
                        }

                        &.upper {
                            text-transform: uppercase;
                        }
                    }
                }

                div.lead-subtitle {
                    font: {
                        size: 2rem;
                        weight: $font_weight / 2;
                    }

                    margin: {
                        top: 0.5rem;
                        bottom: 2.75rem;
                    }

                    @media only screen and (min-width: 300px) {
                        font-size: 1.55rem;
                    }

                    @media only screen and (min-width: 601px) {
                        font-size: 2rem;
                    }
                }

                div.lead-button {
                    display: block;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }

    // BENEFITS
    &.benefits {
        width: 100%;

        .benefit {
            padding: 65px 0 65px 0;
            margin-bottom: 0;

            &:first-child {
                padding-top: 0;
            }

            .row {
                margin-top: 20px;
            }

            @for $title from 1 to 5 {
                h#{$title} {
                    font: {
                        size: 2.28rem;
                        weight: 700;
                    }
                    margin-bottom: 2rem;

                    >span.lighten {
                        font-weight: 400;
                    }
                }
            }

            @media only screen and (min-width: 300px) {
                padding-top: 0;
            }

            @media only screen and (min-width: 601px) {
                padding-top: 65px;
            }
        }

        .separator {
            padding: 65px 0 65px 0;
            background-color: #eeeeee;
            
            @media only screen and (min-width: 300px) {
                padding-top: 0;
            }

            @media only screen and (min-width: 601px) {
                padding-top: 65px;
            }                
        }
        
        .separator-with-image {
            overflow:hidden;
            height:375px;
            width:100%;
            background-color:grey;
            text-align: center;
            color: white;

            .seperator-content {
                z-index: 999;
                position: absolute;
                width: inherit;

                a {
                    color: white;
                }
            }

            .seperator-img {
                position:relative;
                top:0;
                right:0;
                left:0;
                background-image:url('./fashion_1.jpeg');
                background-position: center;
                height: 100%;
                width: auto;
            }
        }

        .call-to-action{
            text-align: center;
            padding-bottom: 0;
        }
    }
}