div.hero, section.hero, header.hero {
  background-color: #1565c0;
  height: 100vh !important;
  text-align: center;
  color: white;
}

div.hero .hero-wrapper, section.hero .hero-wrapper, header.hero .hero-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

div.hero .hero-wrapper .call-to-action, section.hero .hero-wrapper .call-to-action, header.hero .hero-wrapper .call-to-action {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 12.5%;
}

div.hero .hero-wrapper .call-to-action div.lead-stronger, section.hero .hero-wrapper .call-to-action div.lead-stronger, header.hero .hero-wrapper .call-to-action div.lead-stronger, div.hero .hero-wrapper .call-to-action div.lead, section.hero .hero-wrapper .call-to-action div.lead, header.hero .hero-wrapper .call-to-action div.lead {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 300px) {
  div.hero .hero-wrapper .call-to-action, section.hero .hero-wrapper .call-to-action, header.hero .hero-wrapper .call-to-action {
    text-align: left;
    padding-top: 25%;
  }
}
@media only screen and (min-width: 601px) {
  div.hero .hero-wrapper .call-to-action, section.hero .hero-wrapper .call-to-action, header.hero .hero-wrapper .call-to-action {
    text-align: center;
    padding-top: 12.5%;
  }
}
@media only screen and (min-width: 300px) {
  div.hero .hero-wrapper .call-to-action div.lead, section.hero .hero-wrapper .call-to-action div.lead, header.hero .hero-wrapper .call-to-action div.lead {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  div.hero .hero-wrapper .call-to-action div.lead, section.hero .hero-wrapper .call-to-action div.lead, header.hero .hero-wrapper .call-to-action div.lead {
    font-size: 4rem;
  }
}
div.hero .hero-wrapper .call-to-action div.lead.upper, section.hero .hero-wrapper .call-to-action div.lead.upper, header.hero .hero-wrapper .call-to-action div.lead.upper {
  text-transform: uppercase;
}
div.hero .hero-wrapper .call-to-action div.lead-stronger, section.hero .hero-wrapper .call-to-action div.lead-stronger, header.hero .hero-wrapper .call-to-action div.lead-stronger {
  font-weight: 600;
}
@media only screen and (min-width: 300px) {
  div.hero .hero-wrapper .call-to-action div.lead-stronger, section.hero .hero-wrapper .call-to-action div.lead-stronger, header.hero .hero-wrapper .call-to-action div.lead-stronger {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  div.hero .hero-wrapper .call-to-action div.lead-stronger, section.hero .hero-wrapper .call-to-action div.lead-stronger, header.hero .hero-wrapper .call-to-action div.lead-stronger {
    font-size: 4rem;
  }
}
div.hero .hero-wrapper .call-to-action div.lead-stronger.upper, section.hero .hero-wrapper .call-to-action div.lead-stronger.upper, header.hero .hero-wrapper .call-to-action div.lead-stronger.upper {
  text-transform: uppercase;
}
div.hero .hero-wrapper .call-to-action div.lead-subtitle, section.hero .hero-wrapper .call-to-action div.lead-subtitle, header.hero .hero-wrapper .call-to-action div.lead-subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;
}
@media only screen and (min-width: 300px) {
  div.hero .hero-wrapper .call-to-action div.lead-subtitle, section.hero .hero-wrapper .call-to-action div.lead-subtitle, header.hero .hero-wrapper .call-to-action div.lead-subtitle {
    font-size: 1.55rem;
  }
}
@media only screen and (min-width: 601px) {
  div.hero .hero-wrapper .call-to-action div.lead-subtitle, section.hero .hero-wrapper .call-to-action div.lead-subtitle, header.hero .hero-wrapper .call-to-action div.lead-subtitle {
    font-size: 2rem;
  }
}
div.hero .hero-wrapper .call-to-action div.lead-button, section.hero .hero-wrapper .call-to-action div.lead-button, header.hero .hero-wrapper .call-to-action div.lead-button {
  display: block;
  text-align: center;
  margin-top: 10px;
}


/* 
 * BENEFITS 
 */

div.benefits, section.benefits {
  width: 100%;
}

div.benefits .benefit, section.benefits .benefit {
  padding: 65px 0 65px 0;
  margin-bottom: 0;
}

.benefit:first-child {
  padding-top: 0;
}

.benefit .row {
  margin-top: 20px;
}

.benefit h1,
.benefit h2,
.benefit h3,
.benefit h4 {
  font-size: 2.28rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.benefit h1 > span.lighten, 
.benefit h2 > span.lighten,
.benefit h3 > span.lighten,
.benefit h4 > span.lighten {
  font-weight: 400;
}

.benefits .separator {
  padding: 65px 0 65px 0;
  background-color: #eeeeee;
  text-align: center;
}


@media only screen and (min-width: 300px) {
  .benefit.separator {
    padding-top: 0;
  }
}

@media only screen and (min-width: 601px) {
  .benefit.separator {
    padding-top: 65px;
  }
}

.benefits .separator-with-image {
  overflow: hidden;
  height: 375px;
  width: 100%;
  background-color: grey;
  text-align: center;
  color: white;
}

.benefits .separator-with-image a {  
  color: white;
}

.benefits .separator-with-image .seperator-content {
  z-index: 999;
  position: absolute;
  width: inherit;
  padding: 25px;
  margin: 25px 0 auto;
}

.benefits .separator-with-image .seperator-content h1 {
  margin-bottom: 0;
}

.benefits .separator-with-image .seperator-img {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-image: url("./fashion_1.jpeg");
  background-position: center;
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 300px) {
  div.benefits .benefit,
  section.benefits .benefit {
    padding-top: 0;
  }
}
@media only screen and (min-width: 601px) {
  div.benefits .benefit,
  section.benefits .benefit {
    padding-top: 65px;
  }
}

.benefits .call-to-action {
  padding: 65px 0 65px 0;
  background-color: #fafafa; 
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.benefits .team {
  text-align: center;
}

.team .teammate-avatar {
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.team .teammate-name {
  font-weight: 600;
  margin-top: 2.5rem;
}

.team .social {
    margin-top: 2rem;

}

.team .fab {
  font-size: 1.33333em;
}