<div class="input-field">
    <!-- Quill -->
    <div id="editor">
        
    </div>
    <!-- END Quill -->
</div>


{% block extra_scripts %}
    <!-- Quill -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            modules: { toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            placeholder: 'Écrivez votre annonce ici...',
            theme: 'snow'
        });

        // This section syncs Quill with a textarea
        // in a form since Quill does not work with
        // with a textarea
        var form = document.querySelector('form');
        form.onsubmit = function() {
            // Populate hidden form on submit
            var field = document.querySelector('input[name=description_longue]');
            // console.log(field);
            field.value = JSON.stringify(quill.getContents());
            // console.log("Submitted", $(form).serialize(), $(form).serializeArray());
            return;
        };
    </script>
{% endblock extra_scripts %}