<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>

        <link rel="stylesheet" href="{% static 'dashboards.css' %}">
    </head>

    <body class="has-fixed-sidenav dashboard">
        <!-- {% block header %} -->
            <header>
                <!-- NAVBAR -->
                <div class="navbar-fixed">
                    <nav class="navbar white">
                        <div class="nav-wrapper">
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li>
                                    <a href="#!" data-target="dropdown-notifications"><i class="material-icons">notifications</i></a>
                                    <div class="dropdown-content" id="dropdown-notifications">
            
                                    </div>    
                                </li>
                                <li>
                                    <a href="#!" data-target="dropdown-settings"><i class="material-icons">settings</i></a>
                                    <div class="dropdown-content" id="dropdown-settings">
                                        <div class="settings-group">
                                            <div class="setting">
                                                Night mode
                                                <div class="switch right" id="night-mode">
                                                    <label>
                                                        <input type="checkbox"><span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
            
                                        <ul class="collection">
                                            <li class="collection-item avatar">
                                                <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle">
                                                <span class="title">Title</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            
                <!-- SIDEBAR -->
                <ul id="slide-out" class="sidenav sidenav-fixed has-fixed-sidenav hide-on-med-and-down">
                    <li class="logo-container">
                        <a href="{% url '' %}"><i class="material-icons">spa</i>Kurrikulam</a>
                    </li>
                    <li><a href="{% url '' %}">Dashboard</a></li>
                    <li><a href="{% url '' %}">Settings</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a> 
            </header>
        <!-- {% endblock header %} -->

        <!-- MAIN CONTENT -->
        <main class="main-dashboard">
            <div class="container">
                <!-- {% block main_content %} -->
                <div class="row">
                    <div class="col l8 m8 s12">
                        <div class="card">
                            <div class="card-content">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="setting">
                                    Activer
                                    <div class="switch right">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="col l8 m8 s12">
                        <div class="card">
                            <div class="card-content">
                                <form id="detail_offre_3">
                                    <div class="row">
                                        <div class="input-field col s12 m4 l4">
                                            <select name="competences" id="competences">
                                                <option value="Marketing">Marketing</option>
                                            </select>
                                        </div>
                                        <div class="input-field col s12 m4 l4">
                                            <select name="tags_offres" id="tags_offres" multiple>
                                                <option value="Marketing">Marketing</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <button type="submit" class="btn">Valider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- {% endblock main_content %} -->
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="dashboard.js"></script>
    </body>
</html>
