@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


/* 
 * BASE
 */

body.dashboard {
    font-family: Roboto, serif;
    background-color: #f4f4f4;
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 993px) {
    .container {
        width: calc(100% - 300px);
        float: right;
    }
}


/* 
 * SIDENAV
 */

.sidenav {
    box-shadow: none;
        -webkit-box-shadow: none;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.sidenav .logo-container {
    /* padding: 0 16px; */
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box;
}

.sidenav .logo-container a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.sidenav li > a {
    height: 64px;
    line-height: 64px;
}

.sidenav .logo-container a i.material-icons {
    line-height: inherit;
    margin: 0 20px 0 0;
    color: rgba(0,0,0,0.54);
}


@media only screen and (min-width: 993px) {
    .has-fixed-sidenav .navbar-fixed nav.navbar {
        width: calc(100% - 300px);
        left: 300px;
    }
}


/* 
 * NAVBAR
 */

.navbar{
    padding-left: 28px;
    padding-right: 28px;
}

nav ul a {
    color: black;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    transform-origin: 0 0;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    height: auto;
    width: 444.297px;
    left: 564.703px;
    top: 64px;
    opacity: 1;
    transform-origin: 100% 0px 0px;
}

.dropdown-content .settings-group {
    box-shadow: none;
    border: 0;
    margin: 0;
    color: #181818;
    font-size: 16px;
    margin: 0;
    background-color: #fff;
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content .settings-group .setting {
    padding: 16px;
    line-height: 24px;
}

.dropdown-content .collection {
    margin: 0;
    border: 0;
}







main>.container {
    margin-top: 10px;
}



.main-dashboard .row{

}


/* CARDS */

.card-metric:hover{

}

.card .card-metrics {
    display: flex;
}

.card .card-metrics.card-metrics-static .card-metric {
    cursor: default;
    padding: 24px;
}

.card .card-metrics .card-metric {
    cursor: pointer;
    padding: 24px;
}

.card .card-metrics.card-metrics-centered .card-metric {
    flex: 1;
    text-align: center;
}

.card .card-metrics.card-metrics-toggle .card-metric {
    border-top: 3px solid transparent;
}

.card .card-metrics.card-metrics-toggle .card-metric.active {
    border-top: 3px solid #000;
}

.card .card-metrics .card-metric .card-metric-value {
    font-size: 26px;
    font-weight: 300;
}

.card .card-metrics .card-metric .card-metric-change.increase {
    color: #4CAF50;
}

.card .card-metrics .card-metric .card-metric-change.decrease {
    color: #F44336;
}

.card .card-metrics .card-metric .card-metric-change {
    font-size: 12px;
    line-height: 24px;
}

.datatable-scroll{
    clear: both;
    overflow: hidden;
}

/* .settings-group {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.settings-group .collapsible {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    border: none;
}

.settings-group .collapsible .collapsible-header {
    padding: 24px;
}

.settings-group .setting {
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 24px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
} */
