<div class="col l12 m12 s12">
    <div class="card">
        <div class="card-metrics card-metrics-toggle card-metrics-centered">
            <div class="card-metric waves-effect active" data-metric="revenue">
                <div class="card-metric-title">Revenue</div>
                <div class="card-metric-value">$12,476.00</div>
                <div class="card-metric-change">
                    <i class="material-icons">keyboard_arrow_up</i>
                    12%
                </div>
            </div>
            <div class="card-metric waves-effect" data-metric="users">
                <div class="card-metric-title">Users</div>
                <div class="card-metric-value">2024</div>
                <div class="card-metric-change">
                    <i class="material-icons">keyboard_arrow_up</i>
                    9%
                </div>
            </div>
            <div class="card-metric waves-effect" data-metric="ctr">
                <div class="card-metric-title">CTR</div>
                <div class="card-metric-value">0.20%</div>
                <div class="card-metric-change">
                    <i class="material-icons">keyboard_arrow_up</i>
                    4%
                </div>
            </div>
        </div>
        
        <div class="card-content">
            
        </div>
    </div>
</div>
