<form id="detail_offre_2">
    <div class="row">
        <div class="input-field col s12 m12 l12">
            <input type="text" name="description_courte" id="description_courte" placeholder="Description courte">
        </div>
        <div class="input-field col s12 m12 l12">
            <textarea name="description_longue" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Description longue</label>
        </div>
        <div class="input-field col s12 m12 l12">
            <textarea name="description_longue_html" id="textarea2" class="materialize-textarea"></textarea>
        </div>    
    </div>
    <button type="submit" class="btn">Continuer</button>
</form>
