<form id="detail_offre_1">
    <div class="row">
        <div class="input-field col s12 m12 l12">
            <input type="text" name="nom_poste" id="nom-poste" placeholder="Nom du poste">
        </div>
        <div class="input-field col s12 m6 l6">
            <input type="text" name="addresse" id="addresse" placeholder="Addresse">
        </div>    
        <div class="input-field col s12 m3 l3">
            <input type="text" name="region" id="region" placeholder="Région">
        </div>
        <div class="input-field col s12 m3 l3">
            <input type="text" name="code_postal" id="code_postal" placeholder="Code postal">
        </div>    
        <div class="input-field col s12 m4 l4">
            <select name="type_contrat">
                <option value="stage">Stage</option>
                <option value="stage alterne">Stage alterné</option>
                <option value="alternance">Alternance</option>
            </select>
        </div>
        <div class="input-field col s12 m4 l4">
            <input type="text" name="debut_contrat" class="datepicker" placeholder="Début du contrat">
        </div>
        <div class="input-field col s12 m5 l5">
            <select name="niveau_etude">
                <option value="bac+5">Bac + 5</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn">Continuer</button>
</form>
