<header>
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#!"><i class="material-icons">notifications</i></a></li>
                    <li><a href="#!"><i class="material-icons">settings</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav sidenav-fixed has-fixed-sidenav hide-on-med-and-down">
        <li class="logo-container"><a href="#!">Second Link</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><a href="#!">Second Link</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
</header>