<div class="row">
    <div class="col s12">
        <h2>Dashboard</h2>
        <!-- TOP METRICS CARDS -->
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-stacked">
                    <div class="card-metrics card-metrics-static">
                        <div class="card-metric">
                        <div class="card-metric-title">{% trans 'Revenue' %}</div>
                        <div class="card-metric-value">{{ $12,476.00 }}</div>
                        <div class="card-metric-change increase">
                            <i class="material-icons left">keyboard_arrow_up</i>
                            12%
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-stacked">
                    <div class="card-metrics card-metrics-static">
                        <div class="card-metric">
                        <div class="card-metric-title">Clicks</div>
                        <div class="card-metric-value">12,476.00</div>
                        <div class="card-metric-change decrease">
                            <i class="material-icons left">keyboard_arrow_down</i>
                            12%
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- OTHER CONTENT -->
        
    </div>
</div>
