<div class="row">
    <div class="col l4 m4 s12">
        <h5>Personal</h5>
        <p>Information
        Lo-fi you probably haven't heard of them etsy leggings raclette 
        kickstarter four dollar toast. Raw denim fingerstache food truck chia health 
        goth synth. Forage man bun intelligentsia freegan PBR&B banh mi asymmetrical chambray.
        </p>
    </div>
    <div class="col l8 m8 s12">
        <div class="settings-group">
            <div class="setting">
                Setting
                <div class="switch right">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body">
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio">
                                <span>Test</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio">
                                <span>Female</span>
                            </label>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Addresse</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s8">
                                <input id="address" type="text" class="validate">
                                <label for="address" class="">Address</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="city" type="text" class="validate">
                                <label for="city" class="">City</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="state" type="text" class="validate">
                                <label for="state">State</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="zip" type="text" class="validate">
                                <label for="zip">Zip Code</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="country" type="text" class="validate">
                                <label for="country">Country</label>
                            </div>
                            <div class="btn" id="addresse">Valider</div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="setting">
                Setting
                <div class="right">
                    <label>
                        <input type="checkbox">
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
