<div class="col l12 m12 s12">
    <div class="card">
        <div class="card-content">
            <input type="search" name="searc" id="search" placeholder="Enter search term">
            <div class="datatable-scroll">
                <table>
                    <thead>
                        <th>
                            <p class="text-tag">A</p>
                            <p class="checkbox-tag hide">
                                <label>
                                    <input type="checkbox" name="choose" id="choose">
                                    <span></span>
                                </label>
                            </p>
                        </th>
                        <th>E</th>
                        <th>R</th>
                        <th>X</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <label>
                                        <input type="checkbox" name="choose" id="choose">
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td>Yes</td>
                            <td>OK</td>
                            <td>Part</td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <label>
                                        <input type="checkbox" name="choose" id="choose">
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td>Yes</td>
                            <td>OK</td>
                            <td>Part</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
