section.blog hr {
    margin: 30px 0px 30px 0px;
}

section.blog .description {
    color: #999;
}

section.blog .post-title {
    font-weight: 500;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-facebook {
    background-color: #3b5999;
}

.btn-twitter:hover {
    background-color: #55acee;
}

.btn-facebook:hover {
    background-color: #3b5999;
}

.btn-twitter:focus {
    background-color: #55acee;
}

.btn-facebook:focus {
    background-color: #3b5999;
}

.move {
    transform: translateY(-1px);
}

footer.sticky {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

footer.sticky p {
    margin: 0;
}