<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog</title>
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="blog.css">
    </head>

    <body>

        <section class="section" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col s12 l8">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <p>{{ post.date }} by {{ post.author }}</p>
                        <p class="description">{{ post.summary }}</p>
                        <hr>
                        <p>
                            {{ post.content }}
                        </p>
                        <hr>
                        <div class="social center">
                            <a href="{{ post.twitter_share }}" data-title="{{ post.title }}" class="btn btn-twitter" id="btn-twitter-share"><i class="fab fa-twitter left"></i> Tweet</a>
                            <a href="{{ post.facebook_share }}" data-title="{{ post.title }}" class="btn btn-facebook" id="btn-facebook-share"><i class="fab fa-facebook left"></i>Share</a>
                        </div>
                        <hr>
                        <div class="fb-comments" data-href="{{ request.get_absolute_url }}" data-numposts="5"></div>
                    </div>

                    <div class="col s12 l4">
                        <div class="card-panel">
                            <h5>About</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="blog.js"></script>
    </body>
</html>
