@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* 
 * DASHBOARD
 */
/* header.dashboard, 
div.dashboard, 
section.dashboard {
    height: 100vh !important;
} */

/* Sidenav */
/* .dashboard-sidenav {
    position: absolute;
    height:100vh;
    width:180px;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #2196f3;
}

.dashboard-sidenav.fixed {
    position: fixed;
    height:100vh;
    width:15%;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #2196f3;
} */


/* .dashboard-sidenav.wider {
    height:100vh !important;
    width:250px;
    background-color: #2196f3;
}

.dashboard-sidenav ul {
    list-style:none;
    margin-top: 0px;
}

.dashboard-sidenav a {
    float: none;
    color:rgba(255, 255, 255, 0.87);
    display:block;
    font-weight: 500;
    height: 70px;
    /* padding:1.250rem; */
    padding:10px 10px 10px 20px;
    text-decoration:none;
    text-align:left;
    transition:ease-in-out 0.25s;
}
/* 
.dashboard-sidenav a:hover {
    background-color:#64b5f6;
}

.dashboard-sidenav a.active.color {
    background-color: #1565c0;
}

.dashboard-sidenav a.active.border {
    border-left : 5px solid #90caf9;
    padding:10px 10px 10px 15px;
}

.dashboard-sidenav i.material-icons {
    display: inline-block;
    margin-right: 0.780rem;
    width: 30px;
    position: relative;
    top: 4.5px;
    text-align: center;
}

.dashboard-sidenav .divider {
    margin: 8px 0 0 0; */
}

/* @media only screen and (max-width: 992px) {
    .dashboard-sidenav {
        -webkit-transform: translateX(-105%);
                transform: translateX(-105%);
    }
    .dashboard-sidenav.right-aligned {
        -webkit-transform: translateX(105%);
                transform: translateX(105%);
    }
    .dashboard-sidenav > a {
        padding: 0 16px;
    }
    .dashboard-sidenav .user-view {
        padding: 16px 16px 0;
    }
} */

/* Wraper / Container */
/* .dashboard-wraper {
    margin: 0 auto;
    **max-width: 1280px;
    width: 80%;
    padding-left: 10%;
}

.dashboard-wraper .search-header {
    width: 100%;
    height: 60px;
    padding: 10px;
} */

/* Header */
/* .search-header {
    display: block;
    width: auto;
    height:54px;
    margin-bottom: 20px;
    margin-left: 180px;
    background-color: #006064;
}

.search-wrapper {
    position: relative;
    height: 100%;
}

.search-header .input-field {
    margin: 0;
    height: 100%;
}

.search-header form {
    height: 100%;
}

.search-header .input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    color: white;
}

.search-header .input-field input:focus,
.search-header .input-field input[type=text]:valid,
.search-header .input-field input[type=password]:valid,
.search-header .input-field input[type=email]:valid,
.search-header .input-field input[type=url]:valid,
.search-header .input-field input[type=date]:valid {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.search-header ul {
    margin: 0;
}

.search-header ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: right;
    padding: 15px;
    display: block;
}

.search-header ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
}

.search-header ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
} */

/* .search-header ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

