<form method="{{ form_method }}" id="{{ form_id }}">
    {% if form_method == "POST" %}
        {{ csrf_token }}
    {% endif %}

    {% for field in form %}
        <div class="input-field {% if field.label == 'something' %}col l6{% endif %}">
            {{ field }}
        </div>
    {% empty %}
        <!-- DO NOTHING -->
    {% endfor %}
    
    {% if quill_enabled %}
        <div class="input-field">
            <!-- Quill -->
            <div id="editor"></div>
            <!-- END Quill -->
        </div>
    {% endif %}
    <button type="submit" class="btn" onclick="M.toast({html: 'Profil mis à jour'})">{% trans "Valider" %}</button>
</form>
