<div class="row center">
    <div class="col s12 l3">
        <div class="card-panel">
            <p class="card-number">{{ content.number }}</p>
        </div>
    </div>
    <div class="col s12 l3">
        <div class="card-panel">
            <p class="card-number">{{ content.number }}</p>
        </div>
    </div>
    <div class="col s12 l3">
        <div class="card-panel">
            <p class="card-number">{{ content.number }}</p>
        </div>
    </div>
    <div class="col s12 l3">
        <div class="card-panel">
            <p class="card-number">{{ content.number }}</p>
        </div>
    </div>    
</div>
