{% block second_panel_content %}
    <table>
        <thead>
            {{ thead }}
        </thead>
        <tbody>
            {% for content in contents %}
                <tr>
                    <td>{{ content.content }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock second_panel_content %}
