$slim_card_height: 130px;

html {
    font-family: Montserrat, Poppins, Raleway, Ubuntu, "sans serif";

    p, a, li {
        font-family: Roboto;
    }
}


// AVATAR

nav {
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}


// FOOTER

%page-footer {
    padding-top: 40px;
}

.page-footer {
    @extend %page-footer;

    .row {
        margin-bottom: 0;
    }

    ul {
        li {
            &:first-child{
                padding: 0 0 .35rem 0;
            }
    
            &:not(:first-child){
                padding: .35rem 0;
            }
    
            a {
                color: white;
            }
        }

        &#contact {
            li {
                * {
                    vertical-align: middle;
                    line-height: 1;
                }
                i {
                    margin-right: 15px;
                }
            }
        }
    }

    .footer-copyright {
        margin-top: 40px;
        justify-content: center;

        &.social {
            justify-content: space-around;

            ul#social-items {
                li {
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 14px;
                    }

                    & i {
                        margin-right: 5px;
                        font-size: 18px;
                        line-height: inherit;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .header {
        min-height: 50px;
        margin-bottom: 35px;
        padding: 10px 0px;
        overflow: hidden;

        .container {
            display: flex;
            justify-content: space-around;
        }
    }
}


// CARD SLIM

.card {
    &.horizontal {
        &.slim {
            height: $slim_card_height;

            .card-image {
                overflow: hidden;
            }
            
            .card-content {
                height: calc(100% - $slim_card_height);

                h1, h2, h3, h4, h5 {
                    margin-top: 0;
                    font-size: 1.254rem;
                }
            }
        }
    }
    
}
