@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* UTILITIES */

.bold-text-1 {
    font-weight: 600;
}

.bold-text-2 {
    font-weight: 800;
}

.section.hero {
    height: 100vh;
}

.text-muted {
    color: #777;
}

.blog-post-meta {
    color: #777;
    font-size: 0.85rem;
}

.section.push-top-1 {
    padding-top: 4rem;
}

.section.push-top-2 {
    padding-top: 6rem;
}

.section.push-top-3 {
    padding-top: 8rem;
}

/* CARDS */

.card .card-header {
    background-color: inherit;
    border-bottom: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
}


/*******************
   Chips
*******************/

.chips {
    padding: 12px 0;
    margin: 0 5px 3px 0;
}

.chip {
    display: inline-block;
    background: #e0e0e0;
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;
  }

.chip.transparent {
    background-color: transparent;
}

.chip.hoverable {
    background: #ccc;
}

.chip.clickeable {
    cursor: pointer;   
}

.chip .chip-icon {
    height: 32px;
    line-height: #e0e0e0;
    display: block;
    float: left;
    background: #009587;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 8px 0 -12px;
}

/* AVATAR */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* BANNER SELECTION */

.banners {
    height: auto;
}

.banners .banner {
    margin-bottom:5px;
    /* width:100%; */
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s;
    overflow: hidden;  
}

.banner img {
    width: 100%;
    height: auto;
}

.banner.push-up-6 img {
    position: relative;
    background-position-y: -150px;
}

.banner:hover {
    opacity: 0.7;
}

.banner.selected {
    border: #777 3px solid;
    width:99%;
    height:300px;
}


/*******************
   Dropdown
*******************/

.special-drop-container {
    display: inline-block;
    position: relative;
    justify-content:center;
    align-items:center;
    /* max-width: 15%; */
}

ul.special-dropdown-selection {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
    width: 120px;
    transform-origin: 0px 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    z-index: 9999;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

ul.special-dropdown-selection li {
    overflow:hidden;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
}

ul.special-dropdown-selection li a {
    display: block;
    font-size: 16px;
    line-height: 22px;
    padding: .75em 1em;
    background: white;
    color: #26a69a;;
    text-decoration: none;
    /* border-bottom: 1px solid #d2dcec; */
}

ul.special-dropdown-selection.show {
    display: block;
}

ul.special-dropdown-selection li a:hover {
    background: #eeeeee;
    /* transition: all ease .5s; */
}