/*******************
   Headers
*******************/

section.header {
    background-image: url("https://s3.eu-west-3.amazonaws.com/jobswebsite/hero/hero3.jpg");
    height: 400px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

section.header div.header-title {
    font-size: 2.5rem;
    padding-top: 5.33333333%;
}

div.header-title.upper {
    text-transform: uppercase;
}

.header-title.stronger {
    font-weight: 700;
}

div.header-title.push-top-1 {
    padding-top: 8.6666666667%;
}

section.header div.header-subtitle {
    margin: 0 auto 0 auto;
    font-size: 1.75rem;
}

div.header-subtitle.smaller {
    font-size: 1.5rem;
}

section.header .btn,
section.header .btn-small,
section.header .btn-large  {
    margin-top: 25px;
}