<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Extended materialize</title>
        <link rel="stylesheet" href="extended_materialize.css">
    </head>
    <body>
        <section class="section">

            <div class="container">

                <div class="card-panel">

                    <div class="special-drop-container">
                        <button class="btn mydrop" data-target="drop_drop"><i class="material-icons">arrow_drop_down</i></button>
                        <ul class="special-dropdown-selection" id="drop_drop">
                            <li><a href="{% url 'update_offre' offre.id %}">{% trans 'Modifier' %}</a></li>
                            <li><a href="#">{% trans 'Dupliquer' %}</a></li>
                            <li><a href="#">{% trans 'Supprimer' %}</a></li>
                        </ul>
                    </div>
                    
                </div>

            </div>

        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="banners.js"></script>
        <script src="buttona.js"></script>
    </body>
</html>