<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>

        <link rel="stylesheet" href="dashboard.css">
    </head>
    <body>
        <ul id="slide-out" class="sidenav">
            <li><a href="#!"><i class="material-icons">cloud</i>{% trans "Accueil" %}</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>{% trans "Produits" %}</a></li>

            <li><div class="divider"></div></li>

            <li><a class="subheader">{% trans "Produits" %}</a></li>
            <li><a class="waves-effect" href="#!">{% trans "Produits" %}</a></li>

            <li><div class="divider"></div></li>

            <li><a class="waves-effect" href="#!"><i class="material-icons">help</i>{% trans "Centre d'aide" %}</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <!-- Main -->
        <main>
            <!-- Content -->
            <section class="section">
                {% block dashboard_content %}

                    {% block resume_cards %}{% endblock resume_cards %}
                    
                    <div class="row">
                        <div class="col s12 l12">
                            <div class="card-panel">
                                {% block second_panel_content %}
                                    <form method="{{ form_method }}" id="form_id">
                                        {% if form_method == "POST" %}
                                            {{ csrf_token }}
                                        {% endif %}

                                        {% for field in form %}
                                            <div class="input-field">
                                                <input type="text">
                                            </div>
                                        {% endfor %}
                                        
                                        {% if quill_enabled %}
                                            <div class="input-field">
                                                <!-- Quill -->
                                                <div id="editor"></div>
                                                <!-- END Quill -->
                                            </div>
                                        {% endif %}
                                        <button type="submit" class="btn">{% trans "Valider" %}</button>
                                    </form>

                                {% endblock second_panel_content %}
                            </div>
                        </div>
                    </div>

                {% endblock dashboard_content %}
            </section>
            <!-- END Content -->
        </main>
        <!-- END Main -->

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <!-- Quill -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        
        <script>
            $(document).ready(function(){
                // Sidenav
                $('.sidenav').sidenav();
                // dropdown
                $(".dropdown-trigger").dropdown();
                // select
                $('select').formSelect();
                // datepicker
                $('.datepicker').datepicker();
                // Timepicker
                $('.timepicker').timepicker();
                // modal
                $('.modal').modal();
                // Tooltips
                $('.tooltipped').tooltip();
                // Action button
                $('.fixed-action-btn').floatingActionButton();
                // Collapsible
                $('.collapsible').collapsible();
            })
        </script>

        {% block extra_scripts %}{% endblock extra_scripts %}

        <!-- Custom scripts -->
        <script src="dashboard.js"></script>
    </body>
</html>