{% block resume_cards %}
    <div class="row center">
        <div class="col s12 l3">
            <div class="card-panel">{{ content.number }}</div>
        </div>
        <div class="col s12 l3">
            <div class="card-panel">{{ content.number }}</div>
        </div>
        <div class="col s12 l3">
            <div class="card-panel">{{ content.number }}</div>
        </div>
        <div class="col s12 l3">
            <div class="card-panel">{{ content.number }}</div>
        </div>    
    </div>
{% endblock resume_cards %}

{% block dashboard_content %}
    <div class="row">
        <div class="col s12 l12">
            <div class="card-panel">
                {% block second_panel_content %}{% endblock second_panel_content %}
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
