@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.dashboard .card-statistic {
    font-weight: 500;
    font-size: 25px;
    color: #ef9a9a;
}
