{% load flatpages %}
<section class="section cgu">
    <div class="row">
        <div class="col s12 m12 l12 x12">
            <div class="card-panel z-depth-0">                            
                <h6>Mentions légales et politique de confidentialité</h6>
                <p>
                    {{ editeur }} soucieux des droits des individus, notamment au regard des traitements automatisés, et dans une volonté de 
                    transparence avec ses clients, a mis en place une politique reprenant l’ensemble de ces traitements, des finalités 
                    poursuivies par ces derniers ainsi que des moyens d’actions à la disposition des individus afin qu’ils puissent au 
                    mieux exercer leurs droits.
                    <br>
                    <br>
                    Pour toute information complémentaire sur la protection des données personnelles, 
                    nous vous invitons à consulter le site <a href="{{ cnil }}">{{ cnil }}</a>
                    La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute 
                    la durée d'utilisation du site et jusqu'à ce qu'une nouvelle version la remplace.
                </p>
                    
                <h6>Article 1 - Mentions légales</h6>
                <p>
                    1.1 Site (ci-après « le site »)<br/>
                    Kurrikulam<br><br>
                    1.2 Éditeur (ci-après « l'éditeur ») <br>
                    {{ editeur }} demeurant {{ adresse_editeur }}<br>
                    n° SIREN: {{ siren }}<br>
                    n° de téléphone: {{ telephone_editeur }}<br>
                    adresse mail: <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a><br><br>
                    1.3 Hébergeur (ci-après « l'hébergeur »)<br>
                    Kurrikulam hébergé par {{ hebergeur }}, dont le siège social est situé {{ hebergeur_adresse }}.
                </p>
                
                <h6>Article 2 - Accès au site</h6>
                <p>
                    L'accès au site et son utilisation sont réservés à un usage strictement personnel. 
                    Vous vous engagez à ne pas utiliser ce site et les informations ou données qui y figurent à des fins 
                    commerciales, politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment 
                    l'envoi de courriers électroniques non sollicités.
                </p>
                
                <h6>Article 3 - Contenu du site</h6>
                <p>
                    Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, 
                    séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être 
                    utilisées pour faire fonctionner ce site et plus généralement tous les éléments reproduits ou 
                    utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
                    Ils sont la propriété pleine et entière de l'éditeur ou de ses partenaires.
                    <br>
                    <br>
                    Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, 
                    de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable 
                    et écrit de l'éditeur, sont strictement interdites. Le fait pour l'éditeur de ne pas engager de 
                    procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation 
                    desdites utilisations et renonciation aux poursuites. 
                </p>

                <h6>Article 4 - Gestion du site</h6>
                <p>
                    Pour la bonne gestion du site, l'éditeur pourra à tout moment :
                    <ul>
                        <li>
                            Suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à 
                            certaines parties du site, à une catégorie déterminée d'internautes
                        </li>
                        <li>
                            Supprimer toute information pouvant en perturber le fonctionnement ou entrant en 
                            contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette
                        </li>
                        <li>
                            Suspendre le site afin de procéder à des mises à jour.
                        </li>
                    </ul>
                </p>
                
                <h6>Article 5 - Responsabilités</h6>
                <p>
                    La responsabilité de l'éditeur ne peut être engagée en cas de défaillance, panne, difficulté 
                    ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités. 
                    Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. 
                    Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres 
                    données notamment d'attaques virales par Internet. Vous êtes par ailleurs seul responsable des sites 
                    et données que vous consultez.
                    <br>
                    <br>
                    L'éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :

                    <ul>
                        <li>Du fait de l'usage du site ou de tout service accessible internet</li>
                        <li>Du fait du non-respect par vous des présentes conditions générales.</li>
                    </ul>
                </p>
                <p>
                    L'éditeur n'est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre 
                    équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action 
                    contre lui de ce fait.
                    <br>
                    <br>
                    Si l'éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison 
                    de votre utilisation du site, il pourra se retourner contre vous pour obtenir 
                    l'indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient 
                    découler de cette procédure.
                </p>
                
                <h6>Article 6 - Liens hypertextes</h6>
                <p>
                    La mise en place par les utilisateurs de tous liens hypertextes vers tout ou partie du site 
                    est strictement interdite, sauf autorisation préalable et écrite de l'éditeur. 
                    L'éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière 
                    que ce soit sa décision. Dans le cas où l'éditeur accorderait son autorisation, celle-ci n'est dans tous les cas 
                    que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'éditeur.
                    Toute information accessible un lien vers d'autres sites n'est pas publié par l'éditeur. 
                    L'éditeur ne dispose d'aucun droit sur le contenu présent dans ledit lien.  
                </p>
                    
                <h6>Article 7 - Collecte et protection des données</h6>  
                <p>
                    Vos données sont collectées par {{ editeur }} et accessible à partir de votre <a href="{% url 'profile' %}">profil</a>. 
                    Une donnée à caractère personnel désigne toute information concernant 
                    une personne physique identifiée ou identifiable (personne concernée); est réputée identifiable 
                    une personne qui peut être identifiée, directement ou indirectement, 
                    notamment par référence à un nom, un numéro d'identification ou à un ou plusieurs 
                    éléments spécifiques, propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale. 
                    <br/>
                    <br/>
                    Les informations personnelles pouvant être recueillies sur le site sont 
                    principalement utilisées par l'éditeur pour la gestion des relations avec vous, et le cas échéant pour 
                    le traitement de vos commandes. 
                    Les données personnelles collectées sont les suivantes:
                    <ul>
                        <li>Nom et prénom</li>
                        <li>Date de naissance</li>
                        <li>Adresse mail</li>
                        <li>Adresse</li>
                        <li>Numéro de téléphone</li>
                        <li>Données relatives aux outils de paiement et de facturation</li>
                    </ul>
                </p>
                
                <h6>Article 8 - Droit d’accès, de rectification et de déréférencement de vos données</h6>  
                <p>
                    En application de la réglementation applicable aux données à caractère personnel, 
                    les utilisateurs disposent des droits suivants :
                    <ul>
                        <li>
                            Le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les 
                            concernant, en écrivant à l'adresse électronique suivante. Dans ce cas, avant la mise en œuvre de ce droit, 
                            la Plateforme peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.
                        </li>
                        <li>
                            Le droit de rectification : si les données à caractère personnel détenues par la Plateforme sont inexactes, 
                            ils peuvent demander la mise à jour des informations.
                        </li>
                        <li>
                            Le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs 
                            données à caractère personnel, conformément aux lois applicables en matière de protection des données.
                        </li>
                        <li>
                            Le droit à la limitation du traitement : les utilisateurs peuvent de demander à la Plateforme 
                            de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD. 
                        </li>
                        <li>
                            Le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que 
                            ses données soient traitées conformément aux hypothèses prévues par le RGPD. 
                        </li>
                        <li>
                            Le droit à la portabilité : ils peuvent réclamer que la Plateforme leur remet les données personnelles 
                            qui lui ont fourni pour les transmettre à une nouvelle Plateforme.
                        </li>
                    </ul>
                </p>
                <p>
                    Vous pouvez exercer ce droit en nous contactant, à l’adresse suivante : 
                    {{ adresse_editeur }} ou par email, à l’adresse : <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a>.
                    <br>
                    <br>
                    Toute demande doit être accompagnée de la photocopie d’un titre d’identité en cours de validité signé 
                    et faire mention de l’adresse à laquelle l'éditeur pourra contacter le demandeur. 
                    La réponse sera adressée dans le mois suivant la réception de la demande. Ce délai d'un mois peut être prolongé 
                    de deux mois si la complexité de la demande et/ou le nombre de demandes l'exigent.
                    <br>
                    <br>
                    De plus, et depuis la loi n°2016-1321 du 7 octobre 2016, les personnes qui le souhaitent, 
                    ont la possibilité d’organiser le sort de leurs données après leur décès.
                    Pour plus d’information sur le sujet, vous pouvez consulter le site Internet 
                    de la CNIL : <a href="{{ cnil }}">{{ cnil }}</a>.
                    <br>
                    <br>
                    Les utilisateurs peuvent aussi introduire une réclamation 
                    auprès de la CNIL. Nous vous recommandons aussi de nous contacter
                    dans un premier temps avant de déposer une réclamation auprès de la CNIL, 
                    car nous sommes à votre entière disposition pour régler votre problème.
                </p>
                
                <h6>Article 9 - Utilisation des données</h6>  
                <p>
                    Les données personnelles collectées auprès des utilisateurs ont pour objectif 
                    la mise à disposition des services de la Plateforme, leur amélioration et le maintien 
                    d'un environnement sécurisé. La base légale des traitements est  l’exécution du contrat 
                    entre l’utilisateur et la Plateforme. Plus précisément, les utilisations sont les suivantes :
                    <ul>
                        <li>
                            Accès et utilisation de la Plateforme par l'utilisateur
                        </li>
                        <li>
                            Gestion du fonctionnement et optimisation de la Plateforme
                        </li>
                        <li>
                            Mise en œuvre d'une assistance utilisateurs
                        </li>
                        <li>
                            Vérification, identification et authentification des données transmises par l'utilisateur
                        </li>
                        <li>
                            Personnalisation des services en affichant des publicités en fonction 
                            de l'historique de navigation de l'utilisateur, selon ses préférences ;
                        </li>
                        <li>
                            Prévention et détection des fraudes, 
                            malwares (malicious softwares ou logiciels malveillants) 
                            et gestion des incidents de sécurité ;
                        </li>
                        <li>
                            Gestion des éventuels litiges avec les utilisateurs ;
                        </li>
                        <li>
                            Envoi d'informations commerciales et publicitaires, 
                            en fonction des préférences de l'utilisateur ;
                        </li>
                    </ul>
                </p>
                
                <h6>Article 10 - Politique de conservation des données</h6>
                <p>
                    La Plateforme conserve vos données pour la durée nécessaire pour vous 
                    fournir ses services ou de vous fournir une assistance.
                    Dans la mesure raisonnablement nécessaire ou requise pour 
                    satisfaire aux obligations légales ou réglementaires, régler des litiges, empêcher les fraudes 
                    et abus ou appliquer nos modalités et conditions, nous pouvons également conserver certaines 
                    de vos informations si nécessaire, même après que vous ayez fermé votre compte ou que nous n'avons plus 
                    besoin pour vous fournir des services.
                </p>
                
                <h6>Article 11 - Partage des données personnelles avec des tiers</h6>
                <p>
                    Les données personnelles peuvent être partagées avec 
                    des sociétés tierces exclusivement dans l’Union européenne, dans les cas suivants :
                    <ul>
                        <li>
                            Lorsque l'utilisateur publie, dans les zones de commentaires 
                            libres de la Plateforme, des informations accessibles au public ;
                        </li>
                        <li>
                            Quand l'utilisateur autorise le site web d'un tiers à accéder à ses données ;
                        </li>
                        <li>
                            Quand la Plateforme recourt aux services de prestataires pour fournir l'assistance utilisateurs, 
                            la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données 
                            de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle 
                            de les utiliser en conformité avec les dispositions de la réglementation applicable 
                            en matière protection des données à caractère personnel ;
                        </li>
                        <li>
                            Si la loi l'exige, la Plateforme peut effectuer la transmission de données 
                            pour donner suite aux réclamations présentées contre la Plateforme et 
                            se conformer aux procédures administratives et judiciaires ;
                        </li>
                    </ul>
                </p>
                
                <h6>Article 12 - Offres commerciales</h6>
                <p>
                    Vous êtes susceptible de recevoir des offres commerciales de l'éditeur.
                    Si vous ne le souhaitez pas, veuillez cliquer sur le lien suivant : 
                    <a href="{{ pas_offres_commerciales }}">{{ pas_offres_commerciales }}</a>
                    <br>
                    <br>
                    Si, lors de la consultation du site, vous accédez à des données à caractère personnel, 
                    vous devez vous abstenir de toute collecte, de toute utilisation non autorisée et de tout acte pouvant 
                    constituer une atteinte à la vie privée ou à la réputation des personnes. 
                    L'éditeur décline toute responsabilité à cet égard. 
                    Les données sont conservées et utilisées pour une durée conforme à la législation en vigueur.
                </p> 
                    
                <h6>Article 13 - Cookies</h6>
                <p>
                    Qu’est-ce qu’un « cookie » ? 
                    Un « Cookie » ou traceur est un fichier électronique déposé sur un terminal (ordinateur, tablette, smartphone,…) 
                    et lu par exemple lors de la consultation d'un site internet, de la lecture d'un courrier électronique, 
                    de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile et ce quel que soit le 
                    type de terminal utilisé <a href="{{ cnil_cookies }}">{{ cnil_cookies }}</a> 
                    <br>
                    <br>
                    En naviguant sur ce site, des « cookies » émanant de la société responsable du site concerné et/ou des 
                    sociétés tierces pourront être déposés sur votre terminal. 
                    Lors de la première navigation sur ce site, une bannière explicative sur l’utilisation des « cookies » apparaîtra. 
                    Dès lors, en poursuivant la navigation, le client et/ou prospect sera réputé informé et avoir accepté l’utilisation 
                    desdits « cookies ». Le consentement donné sera valable pour une période de treize (13) mois.
                    <br>
                    <br>
                    L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur. 
                    Toutes les informations collectées ne seront utilisées que pour suivre le volume, le type et 
                    la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à 
                    d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous 
                    offrons. 
                    Les cookies suivants sont présents sur ce site :
                    <ul>
                        <li>
                            Google analytics : permet de mesurer l'audience du site.
                        </li>
                        <li>
                            Google tag manager : facilite l’implémentation des tags 
                            sur les pages et permet de gérer les balises Google.
                        </li>
                        <li>
                            Google Adsense : régie publicitaire de Google utilisant 
                            les sites web ou les vidéos YouTube comme 
                            support pour ses annonces.
                        </li>
                        <li>
                            Google Dynamic Remarketing : permet de vous proposer 
                            de la publicité dynamique en fonction des 
                            précédentes recherches.
                        </li>
                        <li>
                            Google Adwords Conversion : outil de suivi des campagnes publicitaires adwords.
                        </li>
                        <li>
                            DoubleClick : cookies publicitaires de Google pour diffuser des bannières.
                        </li>
                    </ul>
                    Cookies Facebook :
                    <ul>
                        <li>
                            Facebook social plugins : permet de liker, partager, commenter 
                            du contenu avec un compte Facebook.
                        </li>
                        <li>
                            Facebook Custom Audience : permet d'interagir avec 
                            l'audience sur Facebook.
                        </li>
                    </ul>
                    Cookies Twitter :
                    <ul>
                        <li>
                            Twitter advertising : permet d'afficher et de cibler 
                            des publicités par la régie publicitaire de Twitter.
                        </li>
                    </ul>
                    Cookies Stripe :
                    <ul>
                        <li>
                            Stripe : permet de gérer l'ensemble des processus
                            de paiement et de facturation de l'utilisateur.
                        </li>
                    </ul>
                </p>
                <p>
                    La durée de vie de ces cookies est de treize mois. 
                    Pour plus d’informations sur l’utilisation, la gestion et la suppression des « cookies », pour tout type 
                    de navigateur, nous vous invitons à consulter le 
                    lien suivant : <a href="{{ cnil_cookies_maitriser }}">{{ cnil_cookies_maitriser }}</a>
                </p>
                
                <h6>Article 14 - Photographies et représentation des produits</h6>
                <p>
                    Les photographies de produits, accompagnant leur description, 
                    ne sont pas contractuelles et n'engagent pas l'éditeur. 
                </p>
                
                <h6>Article 15 - Loi applicable</h6>
                <p>
                    Les présentes conditions d'utilisation du site sont régies par la 
                    loi française et soumises à la compétence des tribunaux du siège social de 
                    l'éditeur, sous réserve d'une attribution de compétence spécifique découlant 
                    d'un texte de loi ou réglementaire particulier. 
                </p>
                
                <h6>Article 16 - Contactez-nous</h6>
                <p>
                    Pour toute question, information sur les produits présentés sur le site, 
                    ou concernant le site lui-même, vous pouvez laisser 
                    un message à l'adresse suivante : <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a>
                </p>
            </div>
        </div>
    </div>
</section>