{% extends "base.html" %}
{% block title %}Conditions générales de vente{% endblock title %}
{% block body %}
    <section class="section cgu">
        <div class="row">
            <div class="col s12 m12 l12 x12">
                <div class="card-panel z-depth-0">
                    <div class="container">
                        <h6>Conditions générales de vente de produits en ligne à des consommateurs particuliers</h6>
                        <h6>Préambule</h6>
                        <p>
                            Les présentes conditions générales de vente s'appliquent à 
                            toutes les ventes conclues sur le site Internet {{ nom_site }}.
                            <br>
                            <br>
                            Le site Internet  est un service de :
                            <ul>
                                <li>{{ company }}</li>
                                <li>situé {{ adresse_editeur }}</li>
                                <li>adresse URL du site : <a href="{{ site }}">{{ site }}</a></li>
                                <li>e-mail : <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a></li>
                                <li>telephone : </li>
                            </ul>
                        </p>
                        <p>
                            Le site Internet {{ nom_site }} commercialise les produits suivants : {{ services }}
                            Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente 
                            antérieurement à la passation de sa commande. La validation de la commande 
                            vaut donc acceptation des conditions générales de vente.    
                        </p>

                        <h6>Article 1 - Principes</h6>
                        <p>
                            Les présentes conditions générales expriment l'intégralité des obligations des parties. 
                            En ce sens, l'acheteur est réputé les accepter sans réserve.    
                            <br>
                            <br>
                            Les présentes conditions générales de vente s'appliquent à l'exclusion 
                            de toutes autres conditions, et notamment celles applicables pour les ventes en magasin ou au moyen d'autres circuits de distribution et de commercialisation.    
                            <br>
                            <br>
                            Elles sont accessibles sur le site internet {{ nom_site }} et prévaudront, le cas échéant, 
                            sur toute autre version ou tout autre document contradictoire.    
                            <br>
                            <br>
                            Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent 
                            exclusivement leur relation. Le vendeur se réserve le droit de modifier ponctuellement 
                            ses conditions générales. Elles seront applicables dès leur mise en ligne.    
                            <br>
                            <br>
                            Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur 
                            dans le secteur de la vente à distance dont les sociétés ont siège en France.    
                            <br>
                            <br>
                            Les présentes conditions générales de vente sont valables jusqu'au {{ date_limite }}. 
                        </p>

                        <h6>Article 2 - Contenu</h6>
                        <p>
                            Les présentes conditions générales ont pour objet de définir les droits et obligations 
                            des parties dans le cadre de la vente en ligne de biens proposés par le vendeur à l'acheteur, 
                            à partir du site internet {{ nom_site }}.    
                    
                            Les présentes conditions ne concernent que les achats effectués sur le site de {{ nom_site }}
                            et livrés exclusivement en métropole ou en Corse. 
                            Pour toute livraison dans les DOM-TOM ou à l’étranger, 
                            il convient d'adresser un message à l’adresse e-mail suivante:
                            <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a>.    
                            <br>
                            <br>
                            Ces achats concernent les produits suivants : {{ services }}. 
                        </p>
                        
                        <h6>Article 3 - Informations précontractuelles</h6>
                        <p>
                            L'acheteur reconnaît avoir eu communication, préalablement à la 
                            passation de sa commande et à la conclusion du contrat, d'une manière lisible et compréhensible, 
                            des présentes conditions générales de vente et de toutes les informations 
                            listées à l'article L. 221-5 du code de la consommation.
                            <br>
                            <br>
                            Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :
                            <ul>
                                <li>les caractéristiques essentielles du bien ;</li>
                                <li>le prix du bien et/ou le mode de calcul du prix</li>
                                <li>
                                    et, s'il y a lieu, tous les frais supplémentaires de transport, 
                                    de livraison ou d'affranchissement et tous les autres frais éventuels exigibles.
                                </li>
                                <li>
                                    en l'absence d'exécution immédiate du contrat, la date ou le délai 
                                    auquel le vendeur s'engage à livrer le bien, quel que soit son prix ;
                                </li>
                                <li>
                                    les informations relatives à l'identité du vendeur, à ses coordonnées postales, 
                                    téléphoniques et électroniques, et à ses activités, celles relatives aux garanties légales, 
                                    aux fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité, 
                                    à l'existence et aux modalités de mise en oeuvre des garanties et autres conditions contractuelles.
                                </li>
                            </ul>
                        </p>

                        <h6>Article 4 - La commande</h6>
                        <p>
                            L'acheteur a la possibilité de passer sa commande en ligne, à partir du catalogue en ligne et 
                            au moyen du formulaire qui y figure, pour tout produit, dans la limite des stocks disponibles.    
                            L'acheteur sera informé de toute indisponibilité du produit ou du bien commandé.    
                            Pour que la commande soit validée, l'acheteur devra accepter, en cliquant 
                            à l'endroit indiqué, les présentes conditions générales. Il devra aussi choisir 
                            l'adresse et le mode de livraison, et enfin valider le mode de paiement.    
                            La vente sera considérée comme définitive :
                            <ul>
                                <li>
                                    après l'envoi à l'acheteur de la confirmation de l'acceptation de la commande 
                                    par le vendeur par courrier électronique ;
                                </li>
                                <li>
                                    et après encaissement par le vendeur de l'intégralité du prix.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Toute commande vaut acceptation des prix et descriptions des produits disponibles à la vente. 
                            Toute contestation sur ce point interviendra dans le cadre d'un éventuel échange et 
                            des garanties ci-dessous mentionnées.    
                            Dans certains cas, notamment défaut de paiement, 
                            adresse erronée ou autre problème sur le compte de l'acheteur, 
                            le vendeur se réserve le droit de bloquer la commande de l'acheteur 
                            jusqu'à la résolution du problème.    
                            Pour toute question relative au suivi d'une commande, 
                            l'acheteur doit appeler le numéro de téléphone suivant: {{ telephone }} (coût d'un appel local), 
                            aux jours et horaires suivants: {{ jours_ouverture }}, 
                            ou envoyer un mail au vendeur à l’adresse mail suivante:
                            <a href="mailto:{{ adresse_personnel }}">{{ adresse_personnel }}</a>.  
                        </p>

                        <h6>Article 5 - Signature électronique</h6>
                        <p>
                            La fourniture en ligne du numéro de carte bancaire de l'acheteur et la validation finale de la commande 
                            vaudront preuve de l'accord de l'acheteur :
                            <ul>
                                <li>
                                    exigibilité des sommes dues au titre du bon de commande,
                                </li>
                                <li>
                                    signature et acception expresse de toutes les opérations effectuées.    
                                </li>
                            </ul>
                        </p>
                        <p>
                            En cas d'utilisation frauduleuse de la carte bancaire, l'acheteur est invité, 
                            dès le constat de cette utilisation, à contacter le vendeur au numéro de téléphone suivant: {{ telephone }}.     
                        </p>

                        <h6>Article 6 - Confirmation de commande</h6>
                        <p>
                            Le vendeur fournit à l'acheteur un exemplaire du contrat, par messagerie électronique.
                        </p>
                        
                        <h6>Article 7 - Preuve de la transaction</h6>
                        <p>
                            Les registres informatisés, conservés dans les systèmes informatiques du vendeur 
                            dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, 
                            des commandes et des paiements intervenus entre les parties. L'archivage des bons de 
                            commande et des factures est effectué sur un support fiable et durable pouvant 
                            être produit à titre de preuve. 
                        </p>

                        <h6>Article 8 - Informations sur les produits</h6> 
                        <p>
                            Les produits régis par les présentes conditions générales sont ceux qui figurent sur le site 
                            internet du vendeur et qui sont indiqués comme vendus et expédiés par le vendeur. 
                            Ils sont proposés dans la limite des stocks disponibles.
                            <br>
                            <br>  
                            Les produits sont décrits et présentés avec la plus grande exactitude possible. 
                            Toutefois, si des erreurs ou omissions ont pu se produire quant à cette présentation, 
                            la responsabilité du vendeur ne pourrait être engagée.
                            <br>
                            <br>  
                            Les photographies des produits ne sont pas contractuelles.
                        </p>

                        <h6>Article 9 - Prix</h6>
                        <p>
                            Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer 
                            les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.    
                            Les prix sont indiqués en euros. Ils ne tiennent pas compte des frais de livraison, 
                            facturés en supplément, et indiqués avant la validation de la commande. Les prix tiennent compte de la 
                            TVA applicable au jour de la commande et tout changement du taux applicable TVA sera automatiquement 
                            répercuté sur le prix des produits de la boutique en ligne.     
                            Si une ou plusieurs taxes ou contributions, notamment environnementales, 
                            venaient à être créées ou modifiées, en hausse comme en baisse, ce changement 
                            pourra être répercuté sur le prix de vente des produits.    
                        </p>

                        <h6>Article 10 - Mode de paiement</h6>
                        <p>
                            Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation 
                            de la commande implique un règlement de l'acheteur.    
                            Pour régler sa commande, l'acheteur dispose, à son choix, de l'ensemble des modes 
                            de paiement mis à sa disposition par le vendeur et listés sur le site du vendeur. L'acheteur garantit au vendeur 
                            qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, 
                            lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande 
                            et toute livraison en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes 
                            officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser d'effectuer 
                            une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement 
                            une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.     

                        </p>
                        
                        <h6>Article 11 - Disponibilité des produits - Remboursement - Résolution </h6>
                        <p>
                            Sauf en cas de force majeure ou lors des périodes de fermeture de la boutique en ligne 
                            qui seront clairement annoncées sur la page d'accueil du site, les délais d'expédition seront, 
                            dans la limite des stocks disponibles, ceux indiqués ci-dessous. Les délais d'expédition courent à compter 
                            de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande.
                            <br>
                            <br>   
                            Pour les livraisons en France Métropolitaine et en Corse, le délai est de  à compter du jour suivant 
                            celui où l'acheteur a passé sa commande, selon les modalités suivantes: {{ xxx }}. 
                            Au plus tard, le délai sera de 30 jours ouvrables après la conclusion du contrat.    
                            Pour les livraisons dans les DOM-TOM ou un autre pays, les modalités 
                            de livraison seront précisées à l’acheteur au cas par cas.
                            <br>
                            <br>
                            En cas de non-respect de la date ou du délai de livraison convenu, l'acheteur devra, avant de rompre le contrat, 
                            enjoindre au vendeur d'exécuter celui-ci dans un délai supplémentaire raisonnable.    
                            A défaut d'exécution à l'expiration de ce nouveau délai, l'acheteur pourra librement rompre le contrat.    
                            L'acheteur devra accomplir ces formalités successives par lettre recommandée avec accusé de réception 
                            ou par un écrit sur un autre support durable.   
                            <br>
                            <br> 
                            Le contrat sera considéré comme résolu à la réception par le vendeur de la lettre ou de l'écrit l'informant 
                            de cette résolution, sauf si le professionnel s'est exécuté entre-temps.    
                            L'acheteur pourra cependant résoudre immédiatement le contrat, si les dates ou délais vu 
                            ci-dessus constituent pour lui une condition essentielle du contrat.
                            <br>
                            <br> 
                            Dans ce cas, lorsque le contrat est résolu, le vendeur est tenu de rembourser l'acheteur de la totalité 
                            des sommes versées, au plus tard dans les 14 jours suivant la date à laquelle le contrat a été dénoncé.    
                            En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité 
                            d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées 
                            dans les 14 jours au plus tard de leur versement, soit l'échange du produit.    
                        </p>

                        <h6>Article 12 - Modalités de livraison</h6>
                        <p>
                            La livraison s'entend du transfert au consommateur de la possession physique ou du contrôle du bien. 
                            Les produits commandés sont livrés selon les modalités et le délai précisés ci-dessus.    
                            Les produits sont livrés à l'adresse indiquée par l'acheteur sur le bon de commande, l'acheteur devra veiller à son exactitude. 
                            Tout colis renvoyé au vendeur à cause d'une adresse de livraison erronée ou incomplète sera réexpédié aux frais de l'acheteur. 
                            L'acheteur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation et non à l'adresse de livraison, en validant 
                            l'option prévue à cet effet sur le bon de commande.
                            <br>
                            <br>
                            Si l'acheteur est absent le jour de la livraison, le livreur laissera un avis de passage dans la boîte aux lettres, 
                            qui permettra de retirer le colis à l'endroit et pendant le délai indiqués.    
                            Si au moment de la livraison, l'emballage d'origine est abîmé, déchiré, ouvert, 
                            l'acheteur doit alors vérifier l'état des articles. S'ils ont été endommagés, l'acheteur doit impérativement 
                            refuser le colis et noter une réserve sur le bordereau de livraison (colis refusé car ouvert ou endommagé).    
                            L'acheteur doit indiquer sur le bon de livraison et sous forme de réserves manuscrites accompagnées 
                            de sa signature toute anomalie concernant la livraison (avarie, produit manquant par 
                            rapport au bon de livraison, colis endommagé, produits cassés...).
                            <br>
                            <br> 
                            Cette vérification est considérée comme effectuée dès lors que l'acheteur, 
                            ou une personne autorisée par lui, a signé le bon de livraison.    
                            L'acheteur devra alors confirmer par courrier recommandé ces réserves au transporteur 
                            au plus tard dans les deux jours ouvrables suivant la réception du ou des articles et transmettre 
                            une copie de ce courrier par fax ou simple courrier au vendeur à l'adresse indiquée dans les mentions légales du site.    
                            Si les produits nécessitent d'être renvoyés au vendeur, ils doivent faire l'objet 
                            d'une demande de retour auprès du vendeur dans les 14 jours suivant la livraison. 
                            Toute réclamation formulée hors de ce délai ne pourra être acceptée. Le retour du produit ne pourra 
                            être accepté que pour les produits dans leur état d'origine (emballage, accessoires, notice...).
                        </p>

                        <h6>Article 19 - Non-validation partielle</h6>
                        <p>
                            Si une ou plusieurs stipulations des présentes conditions générales sont tenues 
                            pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite 
                            d'une décision définitive d'une juridiction compétente, les autres stipulations garderont 
                            toute leur force et leur portée.
                        </p>

                        <h6>Article 20 - Non-renonciation</h6> 
                        <p>
                            Le fait pour l'une des parties de ne pas se prévaloir 
                            d'un manquement par l'autre partie à l'une quelconque des obligations visées 
                            dans les présentes conditions générales ne saurait être interprété pour 
                            l'avenir comme une renonciation à l'obligation en cause.
                        </p>

                        <h6>Article 21 - Titre</h6> 
                        <p>
                            En cas de difficulté d'interprétation entre l'un quelconque des titres figurant en tête des clauses,
                            et l'une quelconque des clauses, les titres seront déclarés inexistants.
                        </p>

                        <h6>Article 22 - Langue du contrat</h6> 
                        <p>
                            Les présentes conditions générales de vente sont rédigées en langue française. 
                            Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, 
                            seul le texte français ferait foi en cas de litige.
                        </p>

                        <h6>Article 23 - Médiation</h6> 
                        <p>
                            L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation 
                            de la consommation ou auprès des instances de médiation sectorielles existantes, 
                            ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
                        </p>

                        <h6>Article 24 - Loi applicable</h6> 
                        <p>
                            Les présentes conditions générales sont soumises à l'application du droit français. Le tribunal compétent est le tribunal 
                            d'instance pour les litiges dont le montant est inférieur ou égal à 10000 € ou le tribunal de grande instance pour les litiges 
                            dont le montant est supérieur à 10000 €.
                            Il en est ainsi pour les règles de fond comme pour les règles de forme. 
                            En cas de litige ou de réclamation, l'acheteur s'adressera en priorité 
                            au vendeur pour obtenir une solution amiable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 x12">
                <div class="card">
                    <div class="card-content">
                        <div class="container">
                            <h6>Article 13 - Erreurs de livraison</h6>
                            <p>
                                L'acheteur devra formuler auprès du vendeur le jour même de la 
                                livraison ou au plus tard le premier jour ouvré suivant la livraison, 
                                toute réclamation d'erreur de livraison et/ou de non-conformité des produits 
                                en nature ou en qualité par rapport aux indications figurant sur le bon de commande. 
                                Toute réclamation formulée au-delà de ce délai sera rejetée.    

                                La réclamation pourra être faite, au choix de l'acheteur :    
                                - numéro de téléphone : ;    
                                - adresse e-mail : .

                                Toute réclamation non effectuée dans les règles définies ci-dessus et dans les 
                                délais impartis ne pourra être prise en compte et dégagera le vendeur de 
                                toute responsabilité vis-à-vis de l'acheteur.    
                                A réception de la réclamation, le vendeur attribuera un numéro 
                                d'échange du ou des produit(s) concerné(s) et le communiquera par e-mail à l'acheteur. 
                                L'échange d'un produit ne peut avoir lieu qu'après l'attribution du numéro d'échange.    

                                En cas d'erreur de livraison ou d'échange, tout produit à échanger ou 
                                à rembourser devra être retourné au vendeur dans son ensemble et dans 
                                son emballage d'origine, en Colissimo Recommandé, à l'adresse suivante :   ,      .   

                                Les frais de retour sont à la charge du vendeur.
                            </p>
                            <h6>Article 14 - Garantie des produits</h6>
                            <p>
                                Garantie légale de conformité et garantie légales des vices cachés
                                est garant de la conformité des biens au contrat, permettant à 
                                l'acheteur de formuler une demande au titre de la garantie légale de conformité 
                                prévue aux articles L. 217-4 et suivants du code de la consommation ou de la garantie 
                                des défauts de la chose vendue au sens des articles 1641 et suivants du code civil. 
                                En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que :    
                                -  l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir ;    
                                -  l'acheteur peut choisir entre la réparation ou le remplacement du bien, sous réserve 
                                des conditions de coût prévues par l'article L. 217-17 du code de la consommation ;    
                                -  l'acheteur n’a pas à apporter la preuve de la non-conformité du bien durant les  , suivant la 
                                délivrance du bien.    

                                En outre, il est rappelé que :    
                                -  la garantie légale de conformité s'applique indépendamment 
                                de la garantie commerciale indiquée ci-dessous ;    
                                -  l'acheteur peut décider de mettre en oeuvre la garantie contre 
                                les défauts cachés de la chose vendue au sens de l'article 1641 du code civil. 
                                Dans cette hypothèse, il peut choisir entre la résolution de la vente ou 
                                une réduction du prix conformément à l'article 1644 du code civil.    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}   



    


Article 15 - Droit de rétractation  

Application du droit de rétractation     

Conformément aux dispositions du code de la consommation, l'acheteur dispose d'un délai de 14 jours à compter de la date de livraison de sa commande, pour retourner tout article ne lui convenant pas et demander l'échange ou le remboursement sans pénalité, à l'exception des frais de retour qui restent à la charge de l'acheteur.    

Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur recommercialisation à l'état neuf, accompagnés de la facture d'achat.    

Les produits endommagés, salis ou incomplets ne sont pas repris.    

Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation disponible sur ce site internet. Dans ce cas, un accusé de réception sur un support durable sera immédiatement communiqué à l'acheteur. Tout autre mode de déclaration de rétractation est accepté. Il doit être dénué d'ambiguïté et exprimer la volonté de se rétracter.    

En cas d'exercice du droit de rétractation dans le délai susvisé, sont remboursés le prix du ou des produit(s) acheté(s) et les frais de livraison sont remboursés.    

Les frais de retour sont à la charge de l'acheteur.    

L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de   , et au plus tard, dans le délai de 14 jours à compter de la réception, par le vendeur, des produits retournés par l'acheteur dans les conditions prévues ci-dessus.    
    
Exceptions

Selon l'article L221-28 du Code de la consommation, le droit de rétractation ne peut pas être exercé pour les contrats :  
- de fourniture de biens dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation ;    
- de fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés ;    
- de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;  
- de fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé ;  
- de fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles ;  
- de fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de fluctuations sur le marché échappant au contrôle du professionnel ;  
- de travaux d'entretien ou de réparation à réaliser en urgence au domicile du consommateur et expressément sollicités par lui, dans la limite des pièces de rechange et travaux strictement nécessaires pour répondre à l'urgence ;  
- de fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison ;  
- de fourniture d'un journal, d'un périodique ou d'un magazine, sauf pour les contrats d'abonnement à ces publications ;  
- de fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.



Article 16 - Force majeure 

Toutes circonstances indépendantes de la volonté des parties empêchant l'exécution dans des conditions normales de leurs obligations sont considérées comme des causes d'exonération des obligations des parties et entraînent leur suspension.    

La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur survenance, ainsi que de leur disparition.    

Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés par ces dernières, malgré tous les efforts raisonnablement possibles. De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes aux clients.    

Les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie. Si le cas de force majeure a une durée supérieure à trois mois, les présentes conditions générales pourront être résiliées par la partie lésée.    



Article 17 - Propriété intellectuelle 

Le contenu du site internet reste la propriété du vendeur, seul titulaire des droits de propriété intellectuelle sur ce contenu.    

Les acheteurs s'engagent à ne faire aucun usage de ce contenu ; toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.    



Article 18 - Informatiques et Libertés 

Les données nominatives fournies par l'acheteur sont nécessaires au traitement de sa commande et à l'établissement des factures.    

Elles peuvent être communiquées aux partenaires du vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes.    

Le traitement des informations communiquées par l'intermédiaire du site internet    a fait l'objet d'une déclaration auprès de la CNIL.    

L'acheteur dispose d'un droit d'accès permanent, de modification, de rectification et d'opposition s'agissant des informations le concernant. Ce droit peut être exercé dans les conditions et selon les modalités définies sur le site   .    
    
     




Article 25 - Protection des données personnelles    

Données collectées:       

Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :     

Ouverture de compte:     lors de la création du compte de l'utilisateur, ses   

Connexion :   lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives au paiement.    

Profil:     l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse et un numéro de téléphone.    

Paiement:   dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur.    

Communication:   lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire.    

Cookies :   les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.    



Utilisation des données personnelles      

Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :    


accès et utilisation du site web par l'utilisateur ;   

gestion du fonctionnement et optimisation du site web ;   

organisation des conditions d'utilisation des Services de paiement ;   

vérification, identification et authentification des données transmises par l'utilisateur ;   

proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ;   

mise en oeuvre d'une assistance utilisateurs ;   

personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences ;   

prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité ;   

gestion des éventuels litiges avec les utilisateurs ;   

envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur. 

Partage des données personnelles avec des tiers      


Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :    


quand l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ;   

lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public ;   

quand l'utilisateur autorise le site web d'un tiers à accéder à ses données ;   

quand le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel ;   

si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web et se conformer aux procédures administratives et judiciaires ;   

si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie. 

Sécurité et confidentialité      


Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.    

Mise en oeuvre des droits des utilisateurs      

En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante:   .    
le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude.     /li>
le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à jour des informations.    /li>
le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données.     /li>
le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD.     /li>
le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD.      /li>
le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.    /li>

Evolution de la présente clause      

Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.    
    
    
Annexe:     


    
     


Annexes 

Code de la Consommation    

Article L. 217-4 : “Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.    

Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.”    



Article L. 217-5 : “Le bien est conforme au contrat:    

1° S'il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant:    

- s'il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle;    

- s'il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage;    

 2°   Ou s'il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.”    



Article L. 217-6 :   “Le vendeur n'est pas tenu par les déclarations publiques du producteur ou de son représentant s'il est établi qu'il ne les connaissait pas et n'était légitimement pas en mesure de les connaître”.    



Article L. 217-7 :   “Les défauts de conformité qui apparaissent dans un délai de vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire.Pour les biens vendus d'occasion, ce délai est fixé à six mois.Le vendeur peut combattre cette présomption si celle-ci n'est pas compatible avec la nature du bien ou le défaut de conformité invoqué.”    



Article L. 217-8 : “L'acheteur est en droit d'exiger la conformité du bien au contrat. Il ne peut cependant contester la conformité en invoquant un défaut qu'il connaissait ou ne pouvait ignorer lorsqu'il a contracté. Il en va de même lorsque le défaut a son origine dans les matériaux qu'il a lui-même fournis.”    



Article L. 217-9 : “En cas de défaut de conformité, l'acheteur choisit entre la réparation et le remplacement du bien.Toutefois, le vendeur peut ne pas procéder selon le choix de l'acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l'autre modalité, compte tenu de la valeur du bien ou de l'importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l'acheteur.”    



Article L. 217-10 “Si la réparation et le remplacement du bien sont impossibles, l'acheteur peut rendre le bien et se faire restituer le prix ou garder le bien et se faire rendre une partie du prix. La même faculté lui est ouverte : 1° Si la solution demandée, proposée ou convenue en application de l'article L. 217-9 ne peut être mise en œuvre dans le délai d'un mois suivant la réclamation de l'acheteur ; 2° Ou si cette solution ne peut l'être sans inconvénient majeur pour celui-ci compte tenu de la nature du bien et de l'usage qu'il recherche. La résolution de la vente ne peut toutefois être prononcée si le défaut de conformité est mineur.”    



Article L. 217-11 : L'application des dispositions des articles L. 217-9 et L. 217-10 a lieu sans aucun frais pour l'acheteur. Ces mêmes dispositions ne font pas obstacle à l'allocation de dommages et intérêts.    



Article L. 217-12 : “L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.”    



Article L. 217-13 : "les dispositions de la présente section ne privent pas l'acheteur du droit d'exercer l'action résultant des vices rédhibitoires telle qu'elle résulte des articles 1641 à 1649 du code civil ou toute autre action de nature contractuelle ou extracontractuelle qui lui est reconnue par la loi."    



Article L. 217-14 : "L'action récursoire peur être exercée par le vendur final à l'encontre des vendeurs ou intermédiaires successifs et du producteur du bien meuble corporel, selon les principes du code civil.    



Article L. 217-15 : " La garantie commerciale s'entend de tout engagement contractuel d'un professionnel à l'égard du consommateur en vue du remboursement du prix d'achat, du remplacement ou de la réparation du bien ou de la prestation de tout autre service en relation avec le bien, en sus de ses obligations légales visant à garantir la conformité du bien.  
La garantie commerciale fait l'objet d'un contrat écrit, dont un exemplaire est remis à l'acheteur.  
Le contrat précise le contenu de la garantie, les modalités de sa mise en œuvre, son prix, sa durée, son étendue territoriale ainsi que le nom et l'adresse du garant.  
En outre, il mentionne de façon claire et précise que, indépendamment de la garantie commerciale, le vendeur reste tenu de la garantie légale de conformité mentionnée aux articles L. 217-4 à L. 217-12 et de celle relative aux défauts de la chose vendue, dans les conditions prévues aux articles 1641 à 1648 et 2232 du code civil.  
Les dispositions des articles L. 217-4, L. 217-5, L. 217-12 et L. 217-16 ainsi que l'article 1641 et le premier alinéa de l'article 1648 du code civil sont intégralement reproduites dans le contrat.  
En cas de non-respect de ces dispositions, la garantie demeure valable. L'acheteur est en droit de s'en prévaloir."   



Article L. 217-16 : “Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir.   

Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention.”    



Code civil 

Article 1641 : “Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.”    



Article 1648 : “L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur,  dans un délai de deux ans à compter de la découverte du vice. Dans le cas prévu par l'article 1642-1, l'action doit être introduite, à peine de forclusion, dans l'année qui suit la date à laquelle le vendeur peut être déchargé des vices ou des défauts de co  nformité» apparents.    
