/* .special-dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.special-dropdown-content:focus {
    outline: 0
}

.special-dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left
}

.special-dropdown-content li:hover,.dropdown-content li.active {
    background-color: #eee
}

.special-dropdown-content li:focus {
    outline: none
}

.special-dropdown-content li.divider {
    min-height: 0;
    height: 1px
}

.special-dropdown-content li>a,.dropdown-content li>span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px
}

.special-dropdown-content li>span>label {
    top: 1px;
    left: 0;
    height: 18px
}

.special-dropdown-content li>a>i {
    height: inherit;
    line-height: inherit;
    float: left;
    margin: 0 24px 0 0;
    width: 24px
} */

.special-dropdown-content {
    display: block; width: 137.594px; left: 304.656px; top: 0px; height: 151px; transform-origin: 0px 0px 0px; opacity: 1; transform: scaleX(1) scaleY(1);
}